{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Bievenido{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="container justify-content-center align-items-center">
    <div class="col-auto text-center">
        <h1 class="display-6 text-align-center ">Bienvenido {{ user.username }}</h1>
        </div>
</div>



{% else %}
<div class="m-0 vh-100 row justify-content-center align-items-center">
    <div class="col-auto text-center">
    <a class="btn btn-success" href="{% url 'sign_up' %}">Registrate</a>
    <a class="btn btn-primary" href="{% url 'sign_in' %}">Iniciar sesión</a>
    </div>
</div>
{% endif %}
{% endblock content %}