{% extends "base.html" %}

{% block titulo %}
{{ticket.titulo}}
{% endblock %}

{% block content %}



        <div class="col-12"><h1><p>{{ticket.titulo}}</p></h1></div>
        <div class="col-12"><p>{{ticket.folio}}</p></div>
        <div class="col-12"><p>{{ticket.excerpt}}</p></div>
        <div class="col-12"><p>{{ticket.publish}}</p></div>
        <div class="col-12"><p>{{ticket.ticket_usario}}</p></div>
        <div class="col-12"><p>{{ticket.especialista}}</p></div>
        <div class="col-12"><p>{{ticket.ticket_tipoprioridad}}</p></div>
        <div class="col-12"><p>{{ticket.ticket_tipostatus}}</p></div>
        <div class="col-12"><p>{{ticket.status}}</p></div>
        <div class="col-12"><p>{{ticket.coordenadas}}</p></div>
        <a href="">{{ticket.evidencias}}</a>
        <div class="col-12"><p>{{ticket.descripcion}}</p></div>
        <div class="col-12"><p>{{ticket.ticket_proyecto}}</p></div>
        <div class="col-12"><p>{{ticket.ticket_areaorigen}}</p></div>
        <div class="col-12"><p>{{ticket.comentario_t}}</p></div>
        <div class="col-12"><p>{{ticket.fecha_atendido}}</p></div>
        <div class="col-12"><p>{{ticket.fecha_asignado}}</p></div>
        <div class="col-12"><p>{{ticket.fecha_proceso}}</p></div>
        <div class="col-12"><p>{{ticket.fecha_resuelto}}</p></div>
        <div class="col-12"><p>{{ticket.fecha_validado}}</p></div>
        <div class="col-12"><p>{{ticket.fecha_cancelado}}</p></div>




{% endblock %}
